

    <form class="" action="greetings" method="send">
      <input type="text" name="name" placeholder="Type name her"><br><br>
      <input type="radio" name="name" value="Ndaa/Aa">
      <input type="radio" name="name" value="Hello">
      <input type="radio" name="name" value="Zvirisei"><br><br>
      <input type="submit" name="name" value="greet">
    </form>
