<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
    <br><br>
  <div class="error">
   {{counterMsg}}
  </div>

  <br><br><br>
  <a class="myLinks" href="/greeted">back to greeted</a>
</body>

</html>
