<br><br>
<ul class="list-group">
  {{#each Greeted}}
    <a href="/counter/{{this}}">
      <li class="myClass"> <input type="button" class="btn btn-info" value="{{this}}"></input></li><br>
    </a>
  {{/each}}
  <br><br>
</ul>
 <a class="myLinks" href="/">Greet more people</a>
