<br><br>
<ul class="list-group">

  {{#each greeteds}}
    <a href="/counter/{{this}}">
      <li class="myList"> <input type="button" class="btn btn-info" value="{{name}}"></input></li><br>
    </a>
  {{/each}}
  <br><br>
</ul>
 <a class="myLinks" href="/">Greet more people</a>
