<<<<<<< HEAD
<div class="error">
    {{messages.error}}
</div>
<ul>
=======
<br><br>
<ul class="list-group">
>>>>>>> refs/remotes/origin/master
  {{#each Greeted}}
    <a href="/counter/{{this}}">
      <li class="myClass"> <input type="button" class="btn btn-info" value="{{this}}"></input></li><br>
    </a>
  {{/each}}
  <br><br>
</ul>
 <a class="myLinks" href="/">Greet more people</a>
