<br><br>
    <form class="form" action="/greetings" method="post">
      <!-- <label for="Tshivenda">Tshivenda: <input type="radio" name="name" value="Ndaa/Aa"></label>
      <label for="English">English:<input type="radio" name="name" value="Hello"></label>
      <label for="Shona">Shona:<input type="radio" name="name" value="Zvirisei"></label><br><br> -->
      <input type="text" name = "name" placeholder="Type name here"><br><br>
      <input class = "btngreet" type="submit" value="Greet">
    </form><br><br>
<div class="grr">

  {{GreetMe}}

</div>

<br><br>
<a href="/greeted">Checkout greeted names</a>
