
<form class="form" action="/" method="post">
  <div class="myClass"><br>
    <input class="form-control" type="text" name="name" placeholder="Type name here"><br>
    <div id="radBtn" class="btn-group" data-toggle="buttons">
      <label class="radio-inline btn btn-outline-info" for="Tshivenda "><input type="radio" name="radioBtn" value="Ndaa/Aa, ">Tshivenda  </label>
      <label class="radio-inline btn btn-outline-info" for="English"><input type="radio" name="radioBtn" value="Hello, ">English  </label>
      <label class="radio-inline btn btn-outline-info" for="Shona"><input type="radio" name="radioBtn" value="Zvirisei, ">Shona</label><br><br>
    </div><br>
    <input id="btnGreet" class="btn btn-success" type="submit" value="Greet">
    <br>
  </div>
</form><br><br>

<div class="grr">
  <div class="error">
    {{messages.error}}
  </div>
  {{GreetMe}}
</div>

<div class="counter">
  {{numberOfgreetings}}
</div>

<br><br>
<a class="myLinks" href="/greeted">Checkout greeted names</a>
