<br><br>
<form class="form" action="/" method="post">
  <div class="name">
  </div>
  <div class="radioBtn">
    <input class="form-control" type="text" name="name" placeholder="Type name here"><br><br>
    <label for="Tshivenda"><input type="radio" name="radioBtn" value="Ndaa/Aa, "> Tshivenda</label>
    <label for="English"><input type="radio" name="radioBtn" value="Hello, "> English</label>
    <label for="Shona"><input type="radio" name="radioBtn" value="Zvirisei, "> Shona</label><br><br>
    <input class="btn btn-success" type="submit" value="Greet">
  </div>

</form><br><br>

<div class="grr">
  <div class="error">
    {{messages.error}}
  </div>
  {{GreetMe}}
</div>

<div class="counter">
  {{numberOfgreetings}}
</div>

<br><br>
<a class="myLinks" href="/greeted">Checkout greeted names</a>
